<div class="row">
  <% @maxims.each do |maxim| %>
    <div class="col s12 m10 offset-m1 l10 offset-l1">
      <div class="card z-depth-3">
        <div class="card-image h-img">
          <%= link_to maxim_path(maxim) do %>
            <%= output_img maxim.img_path, {style: 'width: 100%', class: 'display-img'} %>
            <span class="card-title word">
              <%= maxim.word %>
              <span class="author">by <%= maxim.author %></span>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col s12 m10 offset-m1 l10 offset-l1">
    <%= link_to 'ADD', new_maxim_path, {class: 'waves-effect waves-light btn-large light-blue accent-4 z-depth-2'} %>
  </div>
</div>
