<div class="row">
  <div class="col s12 m10 offset-m1 l10 offset-l1">
    <p id="notice"><%= notice %></p>
    <div class="card z-depth-3">
      <div class="card-image">
        <%= output_img @maxim.img_path, {style: 'width: 100%', class: 'h-img'} %>
        <span class="card-title word">
          <%= @maxim.word %>
          <span class="author">by <%= @maxim.author %></span>
        </span>
      </div>
    </div>

    <%= link_to 'Edit', edit_maxim_path(@maxim) %> |
    <%= link_to 'Back', maxims_path %>
  </div>
</div>
